html
{
	scroll-behavior: smooth;
}
body{margin:0px;
	padding:0px;
	font-family:sans-serif;
}
h1
{
	color: yellow;
	text-align: center;
	margin:10px;
}
#header
{
	height:100vh;
	background:Linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(Images/mixer.jpg);
	background-position:center;
	background-size: cover;
	background-attachment: left;
	position:relative;
}

#header .nav
{

	padding: 10px 10px;
	position:left;
	z-index: 10;
}

#header .logo
{
	float:left;
}
#header .logo a
{
	font-size:50px;
	display:inline-block;
	padding:12px 12px;
	color:#7CFC00;
	font-weight:400;
	text-decoration:none;
}
#header .logo a span
{
	color:#f3971b;
}
.menu
{
	position:fixed;
margin-left:1500px;


}
.menu ul
{
	list-style:none;
	padding:0px;
	margin:0;
}
.menu ul li
{
	display:inline;
	padding:0px 15px;
}
.menu ul li a
{
	display:inline-block;
	padding: 15px 0px;
	font-size:25px;
	text-transform:uppercase;
	position:relative;
	color:yellow;
	text-decoration:none;
	transition: color .5   s ease;
}
.menu ul li a::before
{
	content:'';
	position:absolute;
	top:100%;
	margin-top:-5px;
	height: 2px;
	left:0px;
	background-color:#FF00FF;
	width:0%;
	transition: all .5s ease;
}
.menu ul li a:hover::before
{
	width:100%;
}
.user-box
{
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}
.user-box img
{
	    margin-left: 82px;
	width: 400px;
}
.home-text h1
{
	font-size:40px;
	color:#000000;
	margin:10px 0px;
	font-weight:400;
	animation: slideLeft 1.5s ease;
}
.home-text h3
{
	text-align:center;
	font-size:50px;
	color:#FFD700;
	margin:5px 0px 0px;
	font-weight:500;
	animation: slideRight 1.5s ease;
}
@keyframes slideLeft
{
		100%{transform: translateX(-100%);opacity:0}
		100%{transform:translateX(0);opacity:1}
}
@keyframes slideRight
{
		0%{transform: translateX(-100%);opacity:0}
		100%{transform:translateX(0);opacity:1}
}


/*about section*/


.about
{
float: left;
	width:98.5%;
	padding:80px 10px;
	background-color:#FFC0CB;
}
 h2.title
{
	font-size:55px;
	font-weight:600;
	margin:0;
	padding-bottom: 100px;
	text-align:center;
	text-transform:uppercase;
	color:	#00FFFF;
	position:relative;
	letter-spacing:.5px;
}
.about h2 .title::before
{
	content:'';
	position: absolute;
	width: 80px;
	height:2px;
	left:50%;
	margin-left:-40px;
	top:50px;
	background-color:#00FFFF;
}
.about .about-content
{
	width:100%;
	float:left;
}
.about .about-content .img
{
	float:left;
	width:28%;
	padding:5px;
}
.about .about-content .img img
{
	width:100%;
	border-radius:20px;
}
.about .about-content .descriopion
{
	float:left;
	width:65%;
	padding:5px;
}
.about .about-content .description h4
{
	font-size:32px;
	color:#000000;
	padding-top:2px;
	margin:0;
	padding-bottom:2px;
	font-weight:400;
}
.about .about-content .description h5
{
	font-size:29px;
	color:#000000;
	margin:0;
	padding-bottom:8px;
	text-align:center;
	font-weight:600;
}
.about .about-content .description p
{
	color:#000000;
	font-size:25px;
	line-height:25px;
	letter-spacing:.5px;
	text-align:left;
	font-weight:400;
}


/*profile section*/


.profile
{
	float: left;
	width:98.5%;
	padding:80px 10px;
	background-color:#292929;
}
.profile .profile-img
{
	text-align:center;
	padding-top:5px;
}
.profile .profile-img img
{
	border-radius:40%;
	width:200px;
	border: 2px solid #6caed5;
}
.about-profile h4
{
	font-size:20px;
	color:#ffffff;
	padding-top:8px;
	margin:5px;
	padding-bottom:8px;
	font-weight:400;
	text-align:left;
	width:60%;
	padding-left:20px;
	background:#353535;
	border-radius:30px;
}

/*EVENT section*/


.event
{
	float: left;
	width:98.5%;
	padding:80px 10px;
	background-color:#353535;
}
.event .event-img
{
	text-align:center;
	padding-top:5px;
}
.event .event-img img
{
	border-radius:40%;
	width:200px;
	border: 2px solid #6caed5;
}
.event .event-content
{
	float:left;
	width:100%
}
.event .event-content .card
{
	width:30.30%;
	float:left;
	padding:15px;
}
.event .event-content .card .box
{
	background-color:#292929;
	border-radius:8px;
}
.event .event-content .card .box h3
{
	margin:0;
	padding:15px 0 5px;
	color:#ffffff;
	font-size:20px;
	font-weight:600;
	letter-spacing:.5px;
	text-align:center;
}
.event .event-content .card .box img
{
	width:100%;
	border-radius:10px;
}

}

}
. {
    float: left;
    width: 98.5%;
    padding: 80px 10px;
    background-color: #FFC0CB;
}
.newinput .form-group {
    margin: 15px 827px 20px !important;
    padding-bottom: 10px;
}
.contact-form .form-control {
    color:#000000 !important;
    font-size: 20px;
    font-weight: normal;
    height: 38px;
    line-height: 1.42857;
    padding: 7px 0;
}
.form-control, .form-group .form-control {
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(	#000000), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 50px);
    background-position: center bottom, center calc(100% - 50px);
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}
.contact-form {
    margin: 8px 0 9px !important;
    padding-bottom: 10px;
}
.contact-form textarea.form-control {
    color:#000000 !important;
    height: auto;
}
.contacts-btn {
    background-color:  #FFB03B !important;
    color:#000000 !important;
    width: 170px;
    height: 54px;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-transform: capitalize;
    border: 0px;
    color: #ffffff !important;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Oswald-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Oswald-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Oswald-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/


/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}






/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #e6e6e6;

}

.wrap-contact100 {
  width: 550px;
  background: transparent;
  padding: 30px 0 80px 0;
}


/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  display: block;
  font-family: Oswald-Medium;
  font-size: 30px;
  color: #43383e;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 35px;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  margin-bottom: 17px;
}

.label-input100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 62px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  font-size: 18px;
  color: #999999;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Oswald-Medium;
  font-size: 15px;
  color: #43383e;
  line-height: 1.2;
  padding: 0 5px;
}


/*---------------------------------------------*/
input.input100 {
  height: 62px;
  padding: 0 20px 0 58px;
}


textarea.input100 {
  min-height: 199px;
  padding: 19px 20px 0 23px;
}


/*==================================================================
[ Restyle Checkbox ]*/

.contact100-form-checkbox {
  padding-top: 12px;
  padding-bottom: 20px;
}

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  display: block;
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  font-family: Oswald-Regular;
  font-size: 15px;
  color: #43383e;
  line-height: 1.2;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 15px;
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 2px;
  background: #fff;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #555555;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-top: 13px;
}

.wrap-contact100-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 31px;
  overflow: hidden;
}

.contact100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #df2351;
  background: -webkit-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: -o-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: -moz-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 62px;

  font-family: Oswald-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

.wrap-contact100-form-btn:hover .contact100-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;

  font-family: Oswald-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}





/*Galery section*/


.galery
{
	float: left;
	width:98.5%;
	    padding: 80px 20px 340px 0px;
	background-color:#5F9EA0;
}
.galery .galery-img
{
	text-align:center;
	padding-top:8px;
}
.galery .galery-img img
{
	border-radius:40%;
	width:200px;
	border: 2px solid #6caed5;
}
.galery .container .galery-contentelement
{
	padding:15px;
	text-align:center;
}
.galery .container .galery-content img
{
	width:410px;
	border-color:#353535;
	padding:15px;
	border-radius:20px;

}

/*Guestbook section*/

.bukutamu
{
	float: left;
	width:98.5%;
	padding:20px 10px;
	background-color:#FFC0CB;
}
.bukutamu .container .about-buku
{
	padding:20px;
	border:5px;
}

/*footer section*/
footer
{
	float:left;
	width:100%;
	background-color:#5F9EA0;
	padding:30px 0px;
}
footer .footer-content
{
	float:left;
	width:100%;
}
footer .footer-content .box
{
	width:31%;
	float:left;
	padding:10px;
	text-align:center;
}
footer .footer-content .box h4
{
	font-size:20px;
	color:#f2971b;
	margin:0;
	font-weight:600;
	text-transform:uppercase;
	padding:10px 0;
}
footer .footer-content .box p
{
	color:#000000;
}
